*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 100000;

    height: 80px;
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 5px 3px 5px #5d5d5d;
    display: flex;
    gap: 280px;
    position: fixed;
}
.navbar{
    height: 80px;
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 5px 3px 5px #5d5d5d;
    display: flex;
    gap: 280px;
    scroll-behavior: smooth;
   
}
.logo{
    font-size: 30px;
    margin-left: 3%;
    margin-top: 1.4%;
    scroll-behavior: smooth;
}
.c{
    display: flex;
   gap: 25px;
   font-size: 18px;
   margin-top: 1.7%;
   scroll-behavior: smooth;
}
.btn{
    height: 50px;
    width: 275px;
    font-size: 20px;
    border-radius: 0.5rem;
    margin-top: 1.2%;
    background-color: rgb(58, 58, 159);
    color: whitesmoke;
    scroll-behavior: smooth;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    rotate: 12deg;
}
.home:hover{
    color: rgb(5, 248, 248);
    border-bottom: 3px solid  rgb(81, 161, 161);
}
.skills:hover{
    color: rgb(8, 245, 245);
    border-bottom: 3px solid  rgb(81, 161, 161);
}
.experience:hover{
    color: rgb(10, 243, 243);
    border-bottom: 3px solid  rgb(81, 161, 161);
}
.project:hover{
    color: rgb(7, 245, 245);
    border-bottom: 3px solid  rgb(81, 161, 161);
}
.socialskill:hover{
    color: rgb(6, 241, 241);
    border-bottom: 3px solid  rgb(81, 161, 161);
}
.main{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7.6%;
   /* border: 2px solid black;*/
    height: 550px;
    display: flex;
}
.main_left{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
  /*  border: 2px solid black;*/
    height: 530px;
    width: 710px;

}
.main_right{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
   /* border: 2px solid black;*/
    height: 530px;
    width: 710px;
}
.name-hello{
    margin-top: 8%;
    margin-left: 15%;
    font-size: 35px;
}
.namex{
    font-size: 50px;
    margin-left: 15%;
}
.animated-text{
    margin-top: 3%;
    margin-left: 15%;
    font-size: 35px;
    font-weight: 300;
    background-color: purple;
    height: 50px;
    width: 400px;
    padding: 0 40px;
    overflow: hidden;
    text-align: center;
}
.line{
    color: white;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    
}

.line:first-child{
    animation: anim 12s infinite;
    
}
@keyframes anim {
    0%{
        margin-top: 0;
    }
    16%{
        margin-top: -60px;
    }
    33%{
        margin-top: -120px;
    }
    50%{
        margin-top: -180px;
    }
    66%{
        margin-top: -120px;
    }
    82%{
        margin-top: -60px;
    }
    100%{
        margin-top: -0;
    }

}
.ho{
    font-family: inherit;
    font-size: 20px;
    margin-left: 15%;
}
.btn1{
    margin-left: 27%;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: .8rem;
    background-color: rgb(48, 21, 146);
    color: white;
}
.btn1:hover{
    background-color: pink;
    color: black;
    border: 2px solid black;
    rotate: -12deg;
}
.main_right img{
    height: 450px;
    width: 450px;
    margin-top:9%;
    margin-left: 18%;
    rotate: 1.2deg;
    border-radius: 50%;
    box-shadow: 10px 10px 20px grey;
 
}

.about{
    margin-top: 10%;
    margin-left: 48%;
    font-size: 45px;
}
.about span{
    color: blueviolet;
}
.main1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
   /* border: 2px solid black;*/
    height: 550px;
    display: flex;
}

.main_left1 img{
    margin-top: 19%;
    height: 350px;
    width: 380px;
    margin-left: 26%;
    border-radius: 2rem;
    box-shadow: 5px 10px 15px solid #5d5d5d;
     transition-delay: 1.5s;
}
.main_right2{
    margin-top: 4%;
 margin-left: 20%;
}
.woke{
    font-size: 35px;
    color: black;
}
.woke span{
    color: rgb(222, 28, 60);
}
.woke2{
    color: rgb(59, 59, 140);
    font-size: 25px;
}
.checkbox{
    display: flex;
    gap: 35px;
}
.box1{
    height: 150px;
    width: 350px;
    border: 3px solid #5d5d5d;
    border-radius: 1.5rem;
}
.box2{
    height: 150px;
    width: 350px;
    border: 3px solid #5d5d5d;
    border-radius: 1.5rem;
}
.HJ{
    text-align: center;
    margin-top: 7%;
    font-size: 25px;
}
.pk span{
    font-size: 25px;
    color: blue;
}
.about1{
    margin-top: 10%;
    margin-left: 40%;
    font-size: 45px;
}
.about1 span{
    color: rgb(66, 66, 132);
}
.mainx{
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 6%;
    border: 5px solid transparent;
    display: flex;
    gap: 25px;
    overflow: hidden;
}
.box7 img{
    height: 35px;
}
.box7{
    display: flex;
    height: 45px;
    width: 300px;
    border: 2.5px solid #5d5d5d;
    gap: 25px;
    border-radius: .5rem;
    align-items: center;
    text-align: center;
    animation: animate 25s linear infinite;

}
@keyframes animate {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-800px);
    }
}
.box7:hover{
    border: 5px solid transparent;
    box-shadow: 30px 50px 70px #5d5d5d;
}
.box8 img{
    height: 35px;
}
.box8{
    display: flex;
    height: 45px;
    width: 300px;
    border: 2.5px solid #5d5d5d;
    gap: 25px;
    border-radius: .5rem;
    align-items: center;
    text-align: center;
    animation: animate 30s linear infinite reverse;

}
@keyframes animate {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-800px);
    }
}
.box8:hover{
    border: 5px solid transparent;
    box-shadow: 30px 50px 70px #5d5d5d;
}

.box99{
    height: 520px;
    width: 1000px;
    box-shadow: 20px 30px 40px #5d5d5d;
    margin-top: 85px;
    margin-left: 17%;
    border-radius: 2rem;
}
.box991{
    height: 520px;
    width: 1000px;
    box-shadow: 20px 30px 40px #5d5d5d;
    margin-top: 85px;
    margin-left: 17%;
    border-radius: 2rem;
}
.check2{
padding-top: 35px;
padding-left: 35px;
display: flex;
}
.box88 img{
    border-radius: 2rem;
}

.box88{
    height: 450px;
    width: 600px;
    box-shadow: 10px 30px 40px #5d5d5d;
    border-radius: 2rem;
    background-color: #5d5d5d;
    overflow: hidden;
   
    
}
.line1{
    height: 450px;
    width: 500px;
    border-radius: 2rem;
    
}

.line1:first-child{
    animation: anima 60s alternate ;
    
}
@keyframes anima {
    0%{
        margin-top: 0px;
    }
    25%{
        margin-top: -450px;
    }
    50%{
        margin-top: -900px;
    }
    75%{
        margin-top: -1350px;
    }
    100%{
        margin-top: -0px;
    }

}
.div{
    padding-left: 15%;
    font-size: 20px;
}
.div span{
    color: brown;
}
h5{
    padding-left: 7%; 
}
.check3{
    display: flex;
    justify-content: space-evenly;
}
.box556{
    border: 5px solid #5d5d5d;
    width: 100px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 2px 5px 10px #5d5d5d;
}
.box666{
    align-items: center;
    text-align: center;
    border: 5px solid #5d5d5d;
    width: 220px;
    margin-LEFT: 10%;
    border-radius: 3PX;
}
#f1{
    height: 600px;
    width: 100%;
    background-color: gainsboro;
    color: rgb(63, 59, 59);
}
.pup{
    padding-top: 50px;
    margin-left: 200px;
}
.pup1{
    padding-top: 100px;
    margin-left: 500px;
}
.pup1 span{
    color: #5d5d5d;
}
.h6{
    font-size: 25px;
    margin-left: 500px;
}
.box999{
    height: 520px;
    width: 1000px;
    box-shadow: 20px 30px 40px #5d5d5d;
    margin-top: 85px;
    margin-left: 17%;
    border-radius: 2rem;
    display: none; 
}
.box9999{
    height: 520px;
    width: 1000px;
    box-shadow: 20px 30px 40px #5d5d5d;
    margin-top: 85px;
    margin-left: 17%;
    border-radius: 2rem;
}
.button{
    height: 30px;
    width: 200px;
    color: white;
    background-color: greenyellow;
    margin-left: 45%;
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
}
.button1{
    font-size: 25px;
    margin-left: 95%;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    background-color: red;
    color: white;
   
}


.protofilo{
    font-size: 3.5vh;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}
.protofilo span{
    color: blue;
}
.checkboxx{
    margin-top: 12vh;
    flex-wrap: wrap;
    display: flex;
    margin-left: 32vh;
    gap: 12vh;
}
.box1111{
    height: 370px;
    width: 300px;
    box-shadow: 10px 20px 30px grey;
    border-radius: 1rem;
}
.box1111:hover{
   border: 3rem solid transparent;
}
.box1111 img{
    height: 200px;
    width: 230px;
    border-radius: 50%;

}
.box1111 h1{
    font-size: 4.5vh;
    opacity: .75;
}
.box1111 p {
    font-size: 2vh;
    opacity: .7;
}
.b{
    display: flex;
    justify-content: space-evenly;
}
.b1{
    color: pink;
}
.b1:hover{
    color: blueviolet;
}
.achiv{
    font-size: 3.5vh;
    align-items: center;
    text-align: center;
}
.achiv span{
    color: blueviolet;
}
.box404{
    height: 750px;
    width: 650px;
    box-shadow: 10px 20px 30px grey;
    margin-left: 26.5%;
    margin-top: 2vh;
    object-fit: cover;
    animation: animete 10s infinite;

}
@keyframes animete {
    0%{
     background-image: url(me.jpg);
     opacity: calc(1);
     
    }
    25%{
     background-image: url(abhi.png);
     opacity: calc(1);
    
    }
    50%{
     background-image: url(rename.jpg);
    opacity: calc(1);
   
    }
    75%{
     background-image: url(Snapchat-1105040333.png);
     opacity: calc(1);
    
    }
    100%{
    background-image: url(me.jpg);
    opacity: calc(1);
   
    }
} 

.map{
    margin-top: 1.5vh;
    align-items: center;
    text-align: center;
    font-size: 3.5vh;
    opacity: 0.85;
}
.map span{
    color: blueviolet;
}
.cont{
    font-size: 3.5vh;
    align-items: center;
    text-align: center;

}
.cont span{
    color: blueviolet;
}
.name{
    height: 30px;
    width: 400px;
    margin-left: 2%;
    border-radius: 1rem;
    margin-top: 2.5vh;
    background-color: rgb(81, 79, 79);
    color: white;
}
.name1{
    height: 30px;
    width: 400px;
    margin-left: 2%;
    border-radius: 1rem;
    margin-top: 2.5vh;
    background-color: rgb(81, 79, 79);
    color: white;
}
.name2{
    height: 100px;
    width: 400px;
    margin-left: 2%;
    border-radius: 1rem;
    margin-top: 2.5vh;
    background-color: rgb(81, 79, 79);
    color: white;
}
.bla{
    background-color: rgb(21, 21, 196);
    color: white;
    border: 2px solid black;
    height: 40px;
    width: 100px;
    margin-top: 2.5vh;
    border-radius: 1rem;
}
.bla:hover{
    background-color: chartreuse;
}

.iconssss{
    color: black;
    margin-top: 3.5vh;
    font-size: 5vh;
    gap: 12vh;
}
footer{
    font-size: 4vh;
    align-items: center;
    text-align: center;
}
a{
    color: black;
}

.thank{
    align-items: center;
    text-align: center;
    display: none;
}
.thank h1{
    color: brown;
    font-size: 8vh;
}
.thank p{
    font-size: 4vh;
}
.thank1{
    align-items: center;
    text-align: center; 
    color: brown;

}
.thank1 h1{
    font-size: 7vh;
    color: yellowgreen;
}

